@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Nanum+Gothic+Coding&display=swap');

.result_component {
    width: 100%;
    height: 100%;
    opacity: 0;
    animation: fadeIn 0.00001s ease-in-out 0s forwards;
}

@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrap_container {
    width: fit-content;
    margin: auto;
}

.show_Image{
    background-color:#F6CAC9;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.mainImage_box{
    background-color: white;
    border: solid 1px lightgray;
    border-radius: 5px;
    padding-bottom: 30px;
    position:relative;
    top: 25px;
    width: 950px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Nanum Gothic', sans-serif;
}

.main_image {
    width: 750px;
    height: 400px;
    padding-bottom: 10px;
}

.modal_container {
    margin: 50px 0 30px 0;
    border-radius: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.sub_container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 10px;
}

.sub_text {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.sub_image {
    width: 950px;
    height: 225px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-template-rows: 225px;
    border-radius: 10px;
    padding: 10px;
}

.sub_image>div>img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.sub_image1 {
    width: 225px;
    height: 225px;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.result_container {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 20px auto;
}

.result_energy, .use_energy {
    width:470px;
    padding: 2%;
    border-radius: 10px;
    border: solid 2px lightgray;
    background-color: white;
}

.result_energy_top, .use_energy_top {
    text-align: left;
    font-size: 15px;
}

.result_energy_middle, .use_energy_middle {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: blue;
}

.result_energy_bottom, .use_energy_bottom {
    text-align: right;
    font-size: 15px;
}

.reset {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    background-color: #F6CAC9;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 20px;
}

.reset:hover{
    background-color: #e6bdbc;
}

