@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Nanum+Gothic+Coding&display=swap');

.select_picture{
    background-color: #91A7D0;
    width: 100%;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.select_box{
    background-color: white;
    border: solid 1px lightgray;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position:relative;
    top: 25px;
    width: 950px;
    padding-bottom: 20px;
    font-family: 'Nanum Gothic', sans-serif;
}

.fileSelect>label{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.InputfileLogo{
    width: 10dvw;
    height: 10dvh;
    pointer-events: none;
    margin: 10px 0px;
}

.fileSelect{
    border: dashed 3px #eee;
    border-radius: 5px;
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 0 10px 0;
}

.fileSelect:hover{
    border: dashed 3px gray;
}

.fileSelectactive{
    background-color:#f4f8ff;
    border: dashed 3px #111;
    width: 850dvw;
}

#fileUpload{
    display: none;
}

.preview_info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.preview_info>button{
    margin-top: 10px;
    width: 10dvw;
    padding: 5px;
    background-color: #91A7D0;
    border: none;
    border-radius: 10px;
    color: white;
}

.preview_info>button:hover{
    background-color: #8295b9;
}

.showPicture{
    width: 750px;
    height: 400px;
}

.pictureInput_agree{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pictureInput_agree>p{
    font-size: 13px;
    margin-bottom: 0px;
    padding: 0;
}
.pictureInput_agree>p>span{
    color: blue;
}

